html, body{
    background: #80f;
}
* {
    padding: 0 ;
    margin: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.navbar{
    width: 100%;
    height: 48px;
    background: #000;
}
.navbar ul, li{
    display: inline-block;
    height: 100%;
}
.navbar ul li  a {
    line-height: 45px;
    display: inline-block;
    height: 100%;
    color: #fff;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: #80f;
}

.notelist{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.notelist .note{
    width: 252px;
    height: 400px;
    background-color: #333;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0.5rem;
}

.noteform{
    width: 50%;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}
.noteform textarea {
    width: 100%;
    height: 333px;
}